{:kotoba.app/id "cloud.itonami.isic-0125", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiesvknydd5xpsfvvtyxmkf62y3bqz6wg4idoblpcnx22yzhj6l2ua", :kotoba.app/embed-url "ipfs://bafkreiesvknydd5xpsfvvtyxmkf62y3bqz6wg4idoblpcnx22yzhj6l2ua", :published {:archive "https://kotobase.net/ipfs/bafkreiesvknydd5xpsfvvtyxmkf62y3bqz6wg4idoblpcnx22yzhj6l2ua", :size 72611, :put-status 201, :get-status 200, :at "2026-08-15T12:55:58.333Z"}}
